{% extends 'main.html' %}

{% block content %}
<style>
    .sharing {
        display: flex;
    }
</style>
<div class="container">
    <div class="heads">
    <h2>Analysis for Container ID: {{ container_id |slice:":10" }}</h2>
    <div class="containerfunction">
        {% if status == 'running' %}
                  <button
                    type="button"
                    class="btn btn-danger stop-container"
                    data-container-id="{{ container_id }}"
                    style="margin-top: 1rem"
                  >
                    Stop
                  </button>
                  {% else %}
                  <button
                    type="button"
                    class="btn btn-success start-container"
                    data-container-id="{{ container_id }}"
                    style="margin-top: 1rem"
                  >
                    Start
                  </button>
                  {% endif %}
                  <button
                    type="button"
                    class="btn btn-danger delete-container"
                    data-container-id="{{ container_id }}"
                    style="
                      margin-top: 1rem;
                      margin-left: 1rem;
                      margin-right: -3rem;
                    "
                  >
                    Delete
                  </button>
    </div>
                
        </div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" id="myTabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="analysis-tab" data-bs-toggle="tab" href="#analysis" role="tab" aria-controls="analysis" aria-selected="true">Analysis</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="inspect-tab" data-bs-toggle="tab" href="#inspect" role="tab" aria-controls="inspect" aria-selected="false">Inspect</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="logs-tab" data-bs-toggle="tab" href="#logs" role="tab" aria-controls="logs" aria-selected="false">Logs</a>
        </li>
    </ul>
    
    
    <!-- Tab panes -->
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="analysis" role="tabpanel" aria-labelledby="analysis-tab">
            <div class="row " style="margin-top: 1%;">
                <div class="col-lg-6 mb-4">
                    <div class="card h-100 sharing">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-10 sharing">
                                    <canvas id="cpuChart"></canvas>
                                    <div class="col-5 d-flex" >
                                        <div style="margin-right: 2rem;margin-left: -3rem;margin-top: 4rem;">
                                            <h4>CPU Usage</h4>
                                            <h2 id="cpu_usage">{{ cpu_usage_percent }}%</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-10 sharing">
                                    <canvas id="memChart"></canvas>
                                    <div class="col-5 d-flex" style="margin-right: 3rem;">
                                        <div style="margin-right: 2rem;margin-left: -3rem;margin-top: 4rem;">
                                            <h4>Average Usage</h4>
                                            <h2 id="mem_usage">{{ mem_usage_mb }}MB</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <canvas id="timelineChart"></canvas>
                            <h2 style="align-items: center;display: block;justify-content: center;text-align: center;margin-top: 2%;">Memory vs CPU usage</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <canvas id="timelineCPU"></canvas>
                            <h2 style="align-items: center;display: block;justify-content: center;text-align: center;margin-top: 2%;">CPU usage</h2>
            
                        </div>
                    </div>
                </div>
                <div class="col-6 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <canvas id="timelineMEM"></canvas>
                            <h2 style="align-items: center;display: block;justify-content: center;text-align: center;margin-top: 2%;">Memory usage</h2>
            
                        </div>
                    </div>
                </div>
            </div>
            <!-- Add more analysis data as needed -->
        </div>
        <div class="tab-pane fade" id="inspect" role="tabpanel" aria-labelledby="inspect-tab">
            <!-- Display container inspection data here -->
            <pre style="border-radius: 1rem;margin-top: 2%;background-color: #1b1b1b; color: black; font-size: 14px; font-weight: bold; overflow-wrap: break-word;">
                {% for key, value in inspect_data.items %}
                    <span style="color: orange;">{{ key }}:</span> <span style="color: rgb(0, 249, 0);"><b>{{ value|escape }}</b></span>
                {% endfor %}
            </pre>
        </div>
        <div class="tab-pane fade" id="logs" role="tabpanel" aria-labelledby="logs-tab" style="margin-top: 2%;">
            <!-- Display container logs here -->
            <pre id="log-pre" style="border-radius: 1rem;background-color: #1b1b1b; color: rgb(253, 253, 253); font-size: 14px; font-weight: bold; overflow-wrap: break-word;padding: 1rem;">
                <code id="log-code">{{ logs|escape }}</code>
            </pre>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    var tabs = new bootstrap.Tab(document.getElementById('myTabs'));
    tabs.show();

</script>
<script>
    // Initialize Bootstrap tabs
    
    // Function to update logs every 5 seconds
    $(document).ready(function() {
        var cpuData = [];
        var memData = [];
        var timestamps = [];

        function fetchData() {
            $.ajax({
                url: '/container_update/{{ container_id }}/',
                type: 'GET',
                dataType: 'json',
                success: function(data) {
                    // Update text data
                    $('#log-code').text(data.logs);
                    // $('#mem_usage').text(data.mem_usage + "MB");
                },
                error: function(xhr, status, error) {
                    console.error('Error fetching data:', error);
                }
            });
        }

        // Initial data fetch
        fetchData();

        // Refresh data every 5 seconds
        setInterval(fetchData, 5000);
    });
</script>
<script>
    $(document).ready(function () {
    // Function to stop a container
    $(".stop-container").click(function () {
        var containerId = $(this).data("container-id");
        var csrftoken = getCookie("csrftoken");
        $.ajax({
            url: "/stop-container/" + containerId + "/",
            type: "POST",
            dataType: "json",
            beforeSend: function (xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            },
            success: function (response) {
                if (response.status === "success") {
                    // Redirect to the homepage upon successful stop
                    window.location.href = "/";
                } else {
                    alert("Error: " + response.message);
                }
            },
            error: function (xhr, status, error) {
                alert("Error: " + error);
            },
        });
    });

    // Function to delete a container
    $(".delete-container").click(function () {
        var containerId = $(this).data("container-id");
        var csrftoken = getCookie("csrftoken");
        $.ajax({
            url: "/delete-container/" + containerId + "/",
            type: "POST",
            dataType: "json",
            beforeSend: function (xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            },
            success: function (response) {
                if (response.status === "success") {
                    // Redirect to the homepage upon successful deletion
                    window.location.href = "/";
                } else {
                    alert("Error: " + response.message);
                }
            },
            error: function (xhr, status, error) {
                alert("Error: " + error);
            },
        });
    });

    // Function to retrieve CSRF token from cookie
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== "") {
            var cookies = document.cookie.split(";");
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === name + "=") {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
});

</script>
<script>
    // CPU Chart
    var cpuCtx = document.getElementById('cpuChart').getContext('2d');
    var cpuChart = new Chart(cpuCtx, {
        type: 'doughnut',
        data: {
            labels: ['Used', 'Available'],
            datasets: [{
                label: 'CPU Usage',
                data: [{{ cpu_percent }}, {{ remaining_cpu }}],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.5)', // Used
                    'rgba(54, 162, 235, 0.5)'   // Available
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            cutoutPercentage: 60,  // Adjust the size of the hole in the middle (optional)
            responsive: true,
            legend: {
                position: 'bottom',
                labels: {
                    fontSize: 14,
                   
                }
            },
            title: {
                display: true,
                text: 'CPU Usage',
                titleFont: {
                    size: 14 // Adjust the font size here
                }
            }
        }
    });

    // Memory Chart
    var memCtx = document.getElementById('memChart').getContext('2d');
    var memChart = new Chart(memCtx, {
        type: 'doughnut',
        data: {
            labels: ['Used', 'Available'],
            datasets: [{
                label: 'Memory Usage',
                data: [{{ mem_usage_percent }}, {{ remaining_mem }}],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.5)', // Used
                    'rgba(54, 162, 235, 0.5)'   // Available
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            cutoutPercentage: 60,  // Adjust the size of the hole in the middle (optional)
            responsive: true,
            legend: {
                position: 'bottom',
                labels: {
                    fontSize: 14
                }
            },
            title: {
                display: true,
                text: 'Memory Usage'
            }
        }
    });
</script>
<script>
    $(document).ready(function() {
        var timelineData = {
            labels: [],
            datasets: [{
                label: 'CPU Usage (%)',
                yAxisID: 'y-axis-1',
                backgroundColor: 'rgba(255, 99, 132, 0.5)',
                borderColor: 'rgba(255, 99, 132, 1)',
                borderWidth: 1,
                data: []
            }, {
                label: 'Memory Usage (%)',
                yAxisID: 'y-axis-2',
                backgroundColor: 'rgba(54, 162, 235, 0.5)',
                borderColor: 'rgba(54, 162, 235, 1)',
                borderWidth: 1,
                data: []
            }]
        };

        var timelineOptions = {
            responsive: true,
            scales: {
                xAxes: [{
                    type: 'time',
                    time: {
                        unit: 'minute',  // Display timestamps in minutes
                        displayFormats: {
                            minute: 'HH:mm:ss'  // Format for hours and minutes
                        }
                    },
                    ticks: {
                        autoSkip: true,
                        maxTicksLimit: 10
                    }
                }],
                yAxes: [{
                    id: 'y-axis-1',
                    type: 'linear',
                    position: 'left',
                    ticks: {
                        beginAtZero: true,
                        max: 100
                    }
                }, {
                    id: 'y-axis-2',
                    type: 'linear',
                    position: 'right',
                    ticks: {
                        beginAtZero: true,
                        max: 100
                    }
                }]
            }
        };

        var timelineCtx = document.getElementById('timelineChart').getContext('2d');
        var timelineChart = new Chart(timelineCtx, {
            type: 'line',
            data: timelineData,
            options: timelineOptions
        });

        function fetchData() {
            $.ajax({
                url: '/container_update/{{container_id}}/',
                type: 'GET',
                dataType: 'json',
                success: function(data) {
                    var currentTime = new Date();
                    timelineChart.data.labels.push(currentTime.toLocaleTimeString('en-US', {hour: '2-digit', minute: '2-digit',second:'2-digit'}));
                    timelineChart.data.datasets[0].data.push(data.cpu_usage_percent);
                    timelineChart.data.datasets[1].data.push(data.mem_usage_mb);

                    // Slice arrays to show data for the last 30 seconds
                    if (timelineChart.data.labels.length > 20) {
                        timelineChart.data.labels.shift();
                        timelineChart.data.datasets[0].data.shift();
                        timelineChart.data.datasets[1].data.shift();
                    }

                    timelineChart.update();
                },
                error: function(xhr, status, error) {
                    console.error('Error fetching data:', error);
                }
            });
        }

        fetchData();
        setInterval(fetchData, 5000); // Refresh data every 5 seconds
    });
</script>
<script>
    $(document).ready(function() {
        var cpuTimelineData = {
            labels: [],
            datasets: [{
                label: 'CPU Usage (%)',
                backgroundColor: 'rgba(255, 99, 132, 0.5)',
                borderColor: 'rgba(255, 99, 132, 1)',
                borderWidth: 1,
                data: []
            }]
        };

        var memTimelineData = {
            labels: [],
            datasets: [{
                label: 'Memory Usage (%)',
                backgroundColor: 'rgba(54, 162, 235, 0.5)',
                borderColor: 'rgba(54, 162, 235, 1)',
                borderWidth: 1,
                data: []
            }]
        };

        var timelineOptions = {
            responsive: true,
            scales: {
                xAxes: [{
                    type: 'time',
                    time: {
                        unit: 'minute',  // Display timestamps in minutes
                        displayFormats: {
                            minute: 'HH:mm:ss'  // Format for hours and minutes
                        }
                    },
                    ticks: {
                        autoSkip: true,
                        maxTicksLimit: 10
                    }
                }],
                yAxes: [{
                    type: 'linear',
                    ticks: {
                        beginAtZero: true,
                        max: 100
                    }
                }]
            }
        };

        var cpuTimelineCtx = document.getElementById('timelineCPU').getContext('2d');
        var cpuTimelineChart = new Chart(cpuTimelineCtx, {
            type: 'line',
            data: cpuTimelineData,
            options: timelineOptions
        });

        var memTimelineCtx = document.getElementById('timelineMEM').getContext('2d');
        var memTimelineChart = new Chart(memTimelineCtx, {
            type: 'line',
            data: memTimelineData,
            options: timelineOptions
        });

        function fetchData() {
            $.ajax({
                url: '/container_update/{{container_id}}/',
                type: 'GET',
                dataType: 'json',
                success: function(data) {
                    var currentTime = new Date();
                    var formattedTime = currentTime.toLocaleTimeString('en-US', {hour: '2-digit', minute: '2-digit',second : '2-digit'});
                    
                    // Update CPU timeline data
                    cpuTimelineChart.data.labels.push(formattedTime);
                    cpuTimelineChart.data.datasets[0].data.push(data.cpu_usage_percent);

                    // Update Memory timeline data
                    memTimelineChart.data.labels.push(formattedTime);
                    memTimelineChart.data.datasets[0].data.push(data.mem_usage_mb);

                    // Slice arrays to show data for the last 30 seconds
                    if (cpuTimelineChart.data.labels.length > 15) {
                        cpuTimelineChart.data.labels.shift();
                        cpuTimelineChart.data.datasets[0].data.shift();
                    }

                    if (memTimelineChart.data.labels.length > 15) {
                        memTimelineChart.data.labels.shift();
                        memTimelineChart.data.datasets[0].data.shift();
                    }

                    cpuTimelineChart.update();
                    memTimelineChart.update();
                },
                error: function(xhr, status, error) {
                    console.error('Error fetching data:', error);
                }
            });
        }

        fetchData();
        setInterval(fetchData, 5000); // Refresh data every 5 seconds
    });
</script>

{% endblock %}
